/* Mulai code Anda dari baris terakhir */

:root{
  --pale-blue: hsl(225, 100%, 94%);
  --bright-blue: hsl(245, 75%, 52%);
  --very-pale-blue: hsl(225, 100%, 98%);
  --desaturated-blue: hsl(224, 23%, 55%);
  --dark-blue: hsl(223, 47%, 23%);
}

* {
    box-sizing: border-box;
  }
  
  html, body,
  ul, ol, li,
  h1, h2, h3, h4, h5, h6, p, div {
    margin: 0;
    padding: 0;
  }
.attribution { 
  font-size: 11px; 
  text-align: center; 
  
}
.attribution a { 
  color: hsl(228, 45%, 44%);
 }
  body {
    font-family: 'Red Hat Display', sans-serif;
    /*background-color: var(--pale-blue);*/
    background: url(./images/pattern-background-desktop.svg) no-repeat center/cover fixed;
    background-color: var(--pale-blue);
    text-align: center;
  }
  
  a {
    text-decoration: none;
    font-weight: bold;
  }
  p{
      font-size: 16px;
      line-height: 1.6;
  }
  
  img{
    max-width: 100%;
  }

.container{
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0px 10px 3px hsl(228, 45%, 44%, 0.15);
  border-radius: 20px;
  width: 370px;
  height: 580px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.image img{
  width: 100%;
  border-radius: 20px 20px 0 0 ;
  margin-bottom: 27.5px;
}
h1{
  color:hsl(228, 45%, 44%);
  margin-bottom: 17.5px;
}
.txt{
  width:80%;
  margin-bottom: 12.5px;
  margin-left: auto;
  margin-right: auto;
}
.btn-c{
  background-color: var(--bright-blue);
  display: inline-block;
  color:white;
  padding:10px 90px;
  border-radius:10px;
  box-shadow: 10px 20px 10px rgba(100, 38, 214, 0.1);
  margin-bottom: 17.5px;
}

.btn-c:hover{
 background-color: var(--bright-blue);
 opacity: 0.8;
}
.btn-c:active{
  box-shadow: none;
  position: relative;
  top:5px;
  left:2px;
}

.cancel a{
  color:grey;
  margin-bottom: 25px;
}
.cancel a:hover{
  color: var(--dark-blue);
  transition: all 0.5s;
}
.change{
  text-decoration: underline;
  color:var(--bright-blue);
  margin-right: 20px;
}
.change:hover{
  text-decoration: none;
  color: var(--bright-blue);
  opacity: 0.8;
}
.box{
  margin-bottom: 33px;
  margin-right: auto;
  margin-left: auto;
  background-color: var(--very-pale-blue);
  width:90%;
  border-radius: 10px;
  display:flex;
  align-items: center;
  justify-content: space-between;
}
.tumpuk{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12.5px 10px
}
.tumpuk img{
  margin:auto 10px;
}
.grey{
  color:grey;
}